[submodule "WolkConnect-C-SimpleLink-Wi-Fi-CC3200-LaunchPad/WolkConnect-C"]
	path = WolkConnect-C-SimpleLink-Wi-Fi-CC3200-LaunchPad/WolkConnect-C
	url = https://github.com/Wolkabout/WolkConnect-C.git
